<!-- <div>
    <input type="text" [(ngModel)]="topicName">
</div> -->
<div class="container">
    <div class="header">
        <div class="header_links">
            <div>Home</div>
        <div>Politics</div>
        <div>Sports</div>
        <div>Finance</div>
        </div>
        <div class="header_Search" >
            <input type="text" placeholder="Search With Key Words">
        </div>
        
    </div>
    <div class="Carasol-label">
        Top Headlines in the UK
    </div>
    <div class="carasol-1">
        <div class="c-news">
            <div class="upper-image">
                <img src="{{imageUrl[0]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[0]}}
                </div>
            </div>
            <div >
                <button class="read-button">See More</button>
            </div>

        </div>
        <div class="c-news">
            <div class="upper-image">
                <img src="{{imageUrl[1]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[1]}}
                </div>
            </div>
            <div >
                <button class="read-button">See More</button>
            </div>

        </div>
        <div class="c-news">
            <div class="upper-image">
                <img src="{{imageUrl[2]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[2]}}
                </div>
            </div>
            <div >
                <button class="read-button">See More</button>
            </div>

        </div>
        <div class="c-news">
            <div class="upper-image">
                <img src="{{imageUrl[3]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[3]}}
                </div>
            </div>
            <div >
                <button class="read-button">See More</button>
            </div>

        </div>
        <div class="c-news">
            <div class="upper-image">
                <img src="{{imageUrl[7]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[5]}}
                </div>
            </div>
            <div >
                <button class="read-button">See More</button>
            </div>

        </div>

        
            

        </div>

        

    </div>


<!-- <div class="upper-image">
            <img src="{{imageUrl1}}">
        </div>
        <div class="article-headline">
            {{articleTitle}}
        </div> -->

    

