<!-- <div>
    <input type="text" [(ngModel)]="topicName">
</div> -->
<div class="container">
    <div class="header">
        <div class="header_links">
            <div>Home</div>
        <div>Politics</div>
        <div>Sports</div>
        <div>Finance</div>
        </div>
        <div class="header_Search" >
            <input type="text" placeholder="Search With Key Words">
        </div>
        
    </div>
    <div class="Carasol-label">
        Top Headlines in the UK
    </div>
    <div class="carasol-1">
        <div class="c-news">
            <div class="upper-image" >
                <img src="{{imageUrl[0]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[0]}}
                </div>
            </div>
            <a href="{{link[0]}}">
                <button class="read-button">See More</button>
            </a>

        </div>
        <div class="c-news">
            <div class="upper-image" >
                <img src="{{imageUrl[1]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[1]}}
                </div>
            </div>
            <a href="{{link[1]}}">
                <button class="read-button" href>See More</button>
            </a>
                
            

        </div>
        <div class="c-news">
            <div class="upper-image" >
                <img src="{{imageUrl[2]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[2]}}
                </div>
            </div>
            <a href="link[2]">
                <button class="read-button">See More</button>
            </a>

        </div>
        <div class="c-news">
            <div class="upper-image" >
                <img src="{{imageUrl[3]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[3]}}
                </div>
            </div>
            <a href="link[3]">
                <button class="read-button">See More</button>
            </a>

        </div>
        <div class="c-news">
            <div class="upper-image" >
                <img src="{{imageUrl[4]}}">

            </div>
            <div class="article-headline-container">
                <div class="article-headline">
                    {{title[4]}}
                </div>
            </div>
            <a href="link[4]">
                <button class="read-button">See More</button>
            </a>

        </div>

        
            

        </div>

        <div style="padding-top: 20px;" class="Carasol-label">
            Sports News
        </div>
        <div class="carasol-1">
            <div class="c-news">
                <div class="upper-image" >
                    <img src="{{sportImageUrl[0]}}">
    
                </div>
                <div class="article-headline-container">
                    <div class="article-headline">
                        {{sportTitle[0]}}
                    </div>
                </div>
                <a href="{{link[0]}}">
                    <button class="read-button">See More</button>
                </a>
    
            </div>
            <div class="c-news">
                <div class="upper-image" >
                    <img src="{{sportImageUrl[1]}}">
    
                </div>
                <div class="article-headline-container">
                    <div class="article-headline">
                        {{sportTitle[1]}}
                    </div>
                </div>
                <a href="{{link[1]}}">
                    <button class="read-button" href>See More</button>
                </a>
                    
                
    
            </div>
            <div class="c-news">
                <div class="upper-image" >
                    <img src="{{sportImageUrl[2]}}">
    
                </div>
                <div class="article-headline-container">
                    <div class="article-headline">
                        {{sportTitle[2]}}
                    </div>
                </div>
                <a href="link[2]">
                    <button class="read-button">See More</button>
                </a>
    
            </div>
            <div class="c-news">
                <div class="upper-image" >
                    <img src="{{sportImageUrl[3]}}">
    
                </div>
                <div class="article-headline-container">
                    <div class="article-headline">
                        {{sportTitle[3]}}
                    </div>
                </div>
                <a href="link[3]">
                    <button class="read-button">See More</button>
                </a>
    
            </div>
            <div class="c-news">
                <div class="upper-image" >
                    <img src="{{sportImageUrl[4]}}">
    
                </div>
                <div class="article-headline-container">
                    <div class="article-headline">
                        {{sportTitle[4]}}
                    </div>
                </div>
                <a href="link[4]">
                    <button class="read-button">See More</button>
                </a>
    
            </div>
    
            
                
    
            </div>

            <div style="padding-top: 20px;" class="Carasol-label">
                Political News
            </div>
            <div class="carasol-1">
                <div class="c-news">
                    <div class="upper-image" >
                        <img src="{{sportImageUrl[0]}}">
        
                    </div>
                    <div class="article-headline-container">
                        <div class="article-headline">
                            {{sportTitle[0]}}
                        </div>
                    </div>
                    <a href="{{link[0]}}">
                        <button class="read-button">See More</button>
                    </a>
        
                </div>
                <div class="c-news">
                    <div class="upper-image" >
                        <img src="{{sportImageUrl[1]}}">
        
                    </div>
                    <div class="article-headline-container">
                        <div class="article-headline">
                            {{sportTitle[1]}}
                        </div>
                    </div>
                    <a href="{{link[1]}}">
                        <button class="read-button" href>See More</button>
                    </a>
                        
                    
        
                </div>
                <div class="c-news">
                    <div class="upper-image" >
                        <img src="{{sportImageUrl[2]}}">
        
                    </div>
                    <div class="article-headline-container">
                        <div class="article-headline">
                            {{sportTitle[2]}}
                        </div>
                    </div>
                    <a href="link[2]">
                        <button class="read-button">See More</button>
                    </a>
        
                </div>
                <div class="c-news">
                    <div class="upper-image" >
                        <img src="{{sportImageUrl[3]}}">
        
                    </div>
                    <div class="article-headline-container">
                        <div class="article-headline">
                            {{sportTitle[3]}}
                        </div>
                    </div>
                    <a href="link[3]">
                        <button class="read-button">See More</button>
                    </a>
        
                </div>
                <div class="c-news">
                    <div class="upper-image" >
                        <img src="{{sportImageUrl[4]}}">
        
                    </div>
                    <div class="article-headline-container">
                        <div class="article-headline">
                            {{sportTitle[4]}}
                        </div>
                    </div>
                    <a href="link[4]">
                        <button class="read-button">See More</button>
                    </a>
        
                </div>
        
                
                    
        
                </div>

        

    </div>


<!-- <div class="upper-image">
            <img src="{{imageUrl1}}">
        </div>
        <div class="article-headline">
            {{articleTitle}}
        </div> -->

    

